.intro-page {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 300%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgb(252, 241, 241) 0%, #d8edff 25%, rgb(248, 242, 242) 50% , #c5def5 70% );
  padding-top: 4rem;
  grid-template-rows: repeat(2, 60vh);
}

.section {
  position: relative;
  background: white;
  text-align: center;
}


.card-1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* padding-bottom: 4rem; */
  background-color: transparent;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

}


.card-2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* padding-bottom: 4rem; */
  background-color: transparent;
}

.card-1-2 .intro-title {
  color: #213547;
  right: 5%;
  font-size: 2.5rem;
}

.card-1-2 .subtitle {
  color: #213547;
  font-size: 1.5rem;
  text-align: left;
  padding: 0;
  margin: 0;
}

.card-1-2 .info-photo {
  max-width: 80%;
  max-height: 80%;
  height: auto;
  top: 10rem;
  left: 6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card-1-2 .section-text > p {
  font-size: 1.2rem;
  text-align: left;
  margin: 0;
  padding: 0.75rem 0;
}

.card-1-2 .text-box {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-top: 0rem;
  margin-right: 5rem;
  height: 55vh;
  width: 80%;
  position: relative;
  top: 5vh;
}

.card-1-2 .photo-box {
  margin-top: 0rem;
  margin-bottom: 0;
  margin-left: 5rem;
  margin-top: 4vh;
}


@media screen and (max-width: 1200px) {
  .card-1-2 {
    grid-template-columns: 2fr 2fr; /* Change to a single column layout */
    grid-template-rows: 1fr;
  }

}

@media screen and (max-width: 1150px) {
  .card-1-2 {
    grid-template-columns: 2fr 4fr; /* Change to a single column layout */
    grid-template-rows: 1fr;
  }

  .card-1-2 .section-text > p{
    font-size: 14px;
    font-weight: 400;
    padding-top: 0.5rem;
  }

  .card-1-2 .subtitle {
    color: #213547;
    font-size: 1.2rem;
    text-align: left;
    padding: 0;
    margin: 0;
  }

}

@media screen and (min-width: 1400px) {
  .card-1-2 {
    height: 55vh;
  }

}

.card-2-1 .intro-title {
  right: 5%;
  font-size: 2.5rem;
}

.card-2-1 .subtitle {
  font-size: 1.5rem;
  text-align: left;
  padding: 0;
  margin: 0;
}

.card-2-1 .info-photo {
  max-width: 80%;
  max-height: 80%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 4vh;
  position: relative;
  right: 0vh;
  top: 4vh;
}


.card-2-1 .section-text > p {
  font-size: 1.2rem;
  text-align: left;
  margin: 0;
  padding: 0.75rem 0;
}

.card-2-1 .text-box {
  display: flexbox;
  flex-direction: column;
  padding: 0 1rem;
  margin-top: 4vh;
  height: 50vh;
  width: 80%;
  position: relative;
  top: 5vh;
  left: 18vh;
}

.card-2-1 .photo-box {
  margin-top: 0rem;
  margin-bottom: 0;
  margin-right: 5rem;
  margin-top: 4vh;
  /* max-height: 30rem; */
}

@media screen and (max-width: 1200px) {
  .card-2-1 {
    grid-template-columns: 2fr 2fr; /* Change to a single column layout */
  }

}

@media screen and (max-width: 1150px) {
  .card-2-1 {
    grid-template-columns: 4fr 2fr; /* Change to a single column layout */
  }

  .card-2-1 .section-text {
    padding-right: 2vw;
    position: relative;
    right: 5vw;
  }

  .card-2-1 .section-text > p{
    font-size: 14px;
    font-weight: 400;
    padding-top: 0.5rem;
  }

  .card-2-1 .subtitle {
    color: #213547;
    font-size: 1.2rem;
    text-align: left;
    padding: 0;
    margin: 0;
    padding-right: 2vw;
    position: relative;
    right: 5vw;
  }

}

@media screen and (min-width: 1400px) {
  .card-2-1 {
    height: 55vh;
    position: relative;
    top: 12vh;
  }

}

.map-container {
  margin-left: 0;
  top: 22vh;
  position: relative;
  left: 10vw;
  height: 55vh;
  width: 25vw;
}

.mapboxgl-marker {
  position: absolute;
  top: 0;
  cursor: pointer;
  overflow: hidden;
}

.mapboxgl-canvas-container {
  top: 0;
  overflow: hidden;
  margin-right: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 10vw;

}

.mapboxgl-popup-tip {
  border-bottom-color: #213547 !important;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}
.mapboxgl-popup-content {
  padding: 2px 5px !important;
  background-color: #213547 !important;
  color: white !important;
}

.mapboxgl-popup-content h3 {
  margin: 0;
  font-size: 0.75rem;
}

.map-content {
  display: flex;
  flex-direction: column;
}

.key-words {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  gap: 1rem;
}

.key-words p{
  margin: 0;
  font-size: 1.2rem;
}

.key-item {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.title {
  text-align: left;
  font-size: 1.5rem;

  margin-top: 0rem;
  margin-bottom: 0;
}

h4>p {
  font-weight: 300;
}

.map-text {
  text-align: left;
  width: 90%;
  margin-top: 0;
  font-size: 1.2rem;
}

section.map-paragraph {
  top: 40vh;
  left: 5vw;
  position: relative;
}

div.map-container {
  top: 45vh;
}
