.intro-page {
    position: absolute;
    top: 100vh;
    left: 0;
    background-color: whitesmoke;
    width: 100%;
    height: 200%;
    display: flex;
    align-items: flex-start;
}

.intro {
    position: absolute;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    display: flexbox;
    justify-content: baseline;
}

.intro-title {
    color: #213547;
    position: absolute;
    right: 5%;
}

.subtitile {
    color: #213547;
    position: absolute;
    left: 40%;
    top: 14%;
    text-decoration: dotted overline;
}


.grad-photo {
    position: absolute;
    top: 10%;
    left: 6%;
    height: 80%;
    border-radius: 0.5rem;
    transform: translate(5%, 5%);
}

.education-background {
    position: absolute;
    left: 40%;
    top: 22.5%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.education-background>p {
    font-size: 0.8rem;
    text-align: left;
    margin: 0;
    padding-top: 0.75rem;
}

/* strong {
    font-weight: 500;
} */