.intro-page {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 300%;
  display: flex;
  flex-direction: column;
  /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; */
    background: linear-gradient(to bottom, rgb(252, 241, 241) 0%, #d8edff 25%, rgb(248, 242, 242) 50% , #c5def5 70% );
}
.section {
  position: relative;
  background: white;
  text-align: center;
}


.card-1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 4rem;
  /* background-color: white; */
  background-color: transparent;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

}

.card-2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 4rem;
  background-color: transparent;
  /* background-color: #bddbf5; */
  /* border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem; */
}

.card-1-2 .intro-title {
  color: #213547;
  right: 5%;
  font-size: 2.5rem;
}

.card-1-2 .subtitle {
  color: #213547;
  font-size: 1.5rem;
  text-align: left;
  padding: 0;
  margin: 0;
}

.card-1-2 .grad-photo {
  top: 10rem;
  left: 6rem;
  width: 80%;
  /* border-radius: 0.5rem; */
}

.card-1-2 .education-background > p {
  font-size: 1.2rem;
  text-align: left;
  margin: 0;
  padding: 0.75rem 0;
}

.card-1-2 .text-box {
  display: flexbox;
  flex-direction: column;
  padding: 0 1rem;
  /* background-color: rgb(151, 184, 212); */
  margin-top: 7rem;
  margin-right: 5rem;
}

.card-1-2 .photo-box {
  margin-top: 5rem;
  margin-bottom: 0;
  margin-left: 5rem;
}

.card-2-1 .intro-title {
  right: 5%;
  font-size: 2.5rem;
}

.card-2-1 .subtitle {
  font-size: 1.5rem;
  text-align: left;
  padding: 0;
  margin: 0;
}

.card-2-1 .grad-photo {
  top: 10rem;
  left: 6rem;
  width: 80%;
  /* border-radius: 0.5rem; */
}

.card-2-1 .education-background > p {
  font-size: 1.2rem;
  text-align: left;
  margin: 0;
  padding: 0.75rem 0;
}

.card-2-1 .text-box {
  display: flexbox;
  flex-direction: column;
  padding: 0 1rem;
  /* background-color: rgb(151, 184, 212); */
  margin-top: 7rem;
  margin-left: 5rem;
}

.card-2-1 .photo-box {
  margin-top: 5rem;
  margin-bottom: 0;
  margin-right: 5rem;
  max-height: 30rem;
}

.mapboxgl-marker {
  position: absolute;
  top: 0;
  cursor: pointer;
  overflow: hidden;
}

.mapboxgl-canvas-container {
  position: relative;
  top: 0;
  left: 0;
  height: 50vh;
  background-color: #213547;
  overflow: hidden;
}


.mapboxgl-popup-tip {
  border-bottom-color: #213547 !important;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}
.mapboxgl-popup-content {
  padding: 2px 5px !important;
  background-color: #213547 !important;
  color: white !important;
}

.mapboxgl-popup-content h3 {
  margin: 0;
  font-size: 0.75rem;
}

