.landing-page {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.blur {
    filter: blur(0);
    animation: blurAnimation 0.2s ease-in-out forwards;
}

@keyframes blurAnimation {
    from {
        filter: blur(0);
    }
    to {
        filter: blur(0.75rem);
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 55rem }
}

@keyframes slide-right {
    to {
        transform:translateX(0);
    }
}

@keyframes slideIn {
	20% {
		opacity: 0;
	}
	75% {
		transform: translateX(-43%);
        opacity: 0.6;
	}
    85% {
		transform: translateX(-46.5%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}


.slide-in {
    position: absolute;
    top: 31%;
    left: 52%;
    white-space: nowrap;
    display: inline-block;
    font-size: 4rem;
    line-height: 1.1;
    color: #f9f9f9;
	padding: 0;
	margin: 0;
	opacity: 0;
	animation: slideIn 0.8s ease-in forwards;
    text-shadow: 0.1rem 0.1rem 0.15rem rgb(48, 152, 243);
 
}


.typed-out{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f9f9f9;
    overflow: hidden;
    text-decoration: overline;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 2rem;
    width: 0;
    animation: 
        typing 2s steps(22, end) forwards;
    animation-delay: 1.4s;

}

@keyframes blinking{ 
    0%{ 
      opacity: 0; 
    } 
    50%{ 
      opacity: 0.7; 
    } 
    100%{ 
      opacity: 0; 
    } 
}

.arrow-icon {
    position: absolute;
    bottom: 2.5rem;
    opacity: 0;
    animation: blinking 1.5s linear infinite; 
    animation-delay: 3.9s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.photo {
    height: 8rem;
    width: 8rem;
    border-radius: 10vh;
    position: absolute;
    top: 24%;
    left: 18%;
}
