
@keyframes typing {
    from { width: 0% }
    to { width: 50% }
}

@keyframes slide-right {
    to {
        transform:translateX(0);
    }
}

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}


h1 {
    position: absolute;
    top: 28%;
    left: 40%;
    display: inline-block;
    font-size: 3.2em;
    line-height: 1.1;
    color: #f9f9f9;
	padding: 0;
	margin: 0;
	opacity: 0;
	animation: slide-in-anim 1.2s ease-in forwards;
}


.typed-out{
    position: absolute;
    top: 35%;
    left: 30%;
    width: 80%;
    color: #f9f9f9;
    overflow: hidden;
    text-decoration: overline;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: 
        typing 2s steps(25, end) forwards;
    animation-delay: 1.4s;

}

.landing-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@keyframes blinking{ 
    0%{ 
      opacity: 0; 
    } 
    50%{ 
      opacity: 0.7; 
    } 
    100%{ 
      opacity: 0; 
    } 
}

.arrow-icon {
    position: absolute;
    bottom: 1.5rem;
    opacity: 0;
    animation: blinking 1.5s linear infinite; 
    animation-delay: 3s;
}


.icon-box{
    padding: 1rem;
    top: 50%;
    width: 40%;
    height: 5%;
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translate(50%, -50%);
    gap: 0.5rem;
}

.linkedin-icon, .instagram-icon{
    width: 1.5rem;
    height: 1.5rem;    
}