nav {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    perspective: 2000px;
    flex-wrap: wrap;
    width: 100%;
    gap: 2.5rem;
    background-color: #213547;
}

nav .menu-item {
    padding-top: 0.5rem;
    color: white;
    font-weight: 600;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    perspective: 200px;
    letter-spacing: 0.5px;
    min-height: 2rem;
}

nav .menu-text, nav .menu-text a {
    font-size: 0.75rem;
    color: white;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
    transition: color 0.1s ease-out;
    text-align: center;
    font-weight: 400;
}

nav .menu-text a:hover {
    color: rgba(255,255,255,0.5);
}


.menu-item:hover {
    bottom: 0.5em;
    opacity: 1;
    transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.15s;
}



@keyframes clipPath {
    0% {
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg) scale(1);
        top: 4.5em;
        opacity: 1;        
    }
}

/* Menu specific */
.menu-item .title {
    font-weight: 500;
    color: rgb(44 70 86);
    margin: 0 0 0.25em 0;
}